
#Creator{
    .needsLoggedIn{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: calc(100vh - 118px);
        text-align: center;
        gap:10px;
        a{
            width:100%;
            padding-left: 20px;
            padding-right: 20px;
        }
        a:hover{
            color:white;
        }
    }
    .creator-body{
        width:100%;
        height: 90vh;
        overflow-y: hidden;
        background-image: url("../Assets/poolpartybackground.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:40px;
        padding-top: 40px;
    }
    .Pool-Elements{
        background-color: cyan; 
        border-radius:5px; 
        border-color: black;
        border: solid black 5px; 
        text-align: center; 
        padding: 10px ; 
        width: 50%; 
        margin: auto; 
        margin-top: 40px; 
        display: "none";
    

    }

    .creatorFormBody{
        display: flex;
        justify-content: center;
        height:100%;
        padding: 20px;
        form{
            select{
                width:100%;
            }
            width:100%;
            height:100%;
        }
    }

    .CreatorFormLabel{
    }

    .CreatorFormTitle{

    }

    .creatorForm{
        display:flex;
        flex-direction: column;
        background-color: white;
        width: 80%;
        max-width: 500px;
        padding:20px;
        border-radius: 10% 10%;
        min-height: 240px;
    }
    .creatorFormNavigation{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .Iniital-Show{
        display: block; 
    }
    .Initial-Hide{
        display: "none";

    }

    .Dimensions-Form{
        background-color: cyan; 
        border-radius:5px; 
        border-color: black;
        border: solid black 5px; 
        text-align: center; 
        padding: 10px ; 
        width: 50%; 
        margin: auto; 
        margin-top: 40px; 
        display: none;

    }
    .Next-Button{
        margin-left: 20px; 

    }
    .Prev-Button{
        margin-right: 20px; 
    }
    .Hero-image{
        width:100%;
        height: 90vh;
        overflow-y: hidden;
        background-image: url("../Assets/poolpartybackground.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:40px;
    }

        .heroText{
            color:white;
            text-align: center;
            text-shadow: -1px 1px 2px #000,
            1px 1px 2px #000,
            1px -1px 0 #000,
            -1px -1px 0 #000;
        
    }

    .heroButton{
            display:flex;
            gap:20px;
    }
}
