.modal-footer{
    display:flex;
    flex-direction: row;
    gap:10px;
}

.modal-body{

    .poolStatsList{
        display:flex;
        flex-wrap: wrap;
        .poolStat{
            padding:10px;
            display:flex;
            flex:25%;
            white-space: nowrap;
            p{
                text-overflow: elipses;
                
            }
        }
    }

}