#Register{
    .hero-body{
        height: 90vh;
        background-image: url("../Assets/poolpartybackground.jpg");
        background-size: cover;
        background-position: center;
        background-color: black;
        overflow-y: hidden;
    }

    .header{
        display:flex;
        justify-content: center;
    }

    .error{
        color:red;
    }

    .accountQuestion{
        display:flex;
        justify-content: center;
        a{
            color:blue;
            text-decoration: underline;
        }
        a:hover{
            color:black;
        }
    }
}
